{% extends "layout.html" %} {% block page_styles %}
<style>
  h1 {
    margin-top: 20px;
    text-align: center;
  }
  .video-container {
    width: 90%;
    max-width: 1280px;
    margin: 20px auto;
    border: 2px solid #555;
    background: #000;
  }

  .video-container img {
    width: 100%;
    height: auto;
    display: block;
  }
</style>
{% endblock %} {% block content %}
<h1>SAVMO Live Feed</h1>

<div class="video-container">
  <img src="{{ url_for('video_feed') }}" />
</div>

{% endblock %}
